################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RandomDogPhoto/.vs
/RandomDogPhoto/bin/Debug/net8.0
/RandomDogPhoto/obj
/RandomDogPhoto/packages
/RandomDogPhoto.Tests/bin/Debug/net8.0
/RandomDogPhoto.Tests/obj
/SPPTest.API/obj
/SPPTest.Domain/bin/Debug/net8.0
/SPPTest.Domain/obj
/SPPTest.EFDataAccess/bin/Debug/net8.0
/SPPTest.EFDataAccess/Migrations
/SPPTest.EFDataAccess/obj
/SPPTest.Repository/bin/Debug/net8.0
/SPPTest.Repository/obj
/obj
/bin
/SPPTest.Services/bin/Debug/net8.0
/Debug
/SPPTest.Shared/bin/Debug/net8.0
/SPPTest.Shared/obj
/SSPTest.RandomDogPhotoConsoleApp/bin/Debug/net8.0
/SSPTest.RandomDogPhotoConsoleApp/obj
/SPPTest.Services/obj/Debug/net8.0
/SPPTest.Services/obj
